body {
    padding: 10px;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
    background-color: #23141D;
    color: #ffffff;
}

#wrapper {
    max-width: 600px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    text-align: center;
}

#right{
	margin-left: 1200px;
}

table {
    text-align: left;
    padding: 5px;
    min-width: 100%;
}
